/* * {
  border: 1px solid red;
} */

:root {
  --colorPrimary: #0065fc;
  --colorSecondary: #deebff;
  --colorThird: #f2f2f2;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("./Policy/static/Raleway-Regular.ttf");
}
body {
  margin: 0 40px;
  font-family: "Raleway-Regular", serif, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

img {
  object-fit: cover;
}

/* ************************ HEADER ******************** */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 75px;
  /* position: relative; */
}

#logo {
  /* position: absolute;
  left: 0; */
  width: 100%;
}

#logo img {
  height: 35px;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 125px;
  color: black;
  font-size: 0.8rem;
}

.nav:hover {
  border-top: 2px solid var(--colorPrimary);
  position: relative;
  bottom: 1px;
  color: var(--colorPrimary);
}

.blue {
  color: #0065fc;
  font-weight: 900;
}

h1 {
  margin: 0;
  font-size: 1.1rem;
}

p {
  margin: 0;
  font-size: 0.8rem;
}

/* ********************** FORM ******************* */
form {
  margin-top: 15px;
}
label {
  padding: 8.5px 12.5px 9.5px 12.5px;
  background: var(--colorThird);
  border-radius: 10px 0 0 10px;
}
label i {
  font-size: 0.8rem;
}

input {
  height: 32px;
  width: 180px;
  position: relative;
  right: 4px;
  padding-left: 15px;
  font-weight: 900;
  border-top: 1px solid var(--colorThird);
  border-bottom: 1px solid var(--colorThird);
  border-right: 0;
  border-left: 0;
}

input::placeholder {
  color: black;
}

button {
  height: 36px;
  margin: 0;
  background: var(--colorPrimary);
  color: white;
  position: relative;
  right: 8px;
  font-weight: 900;
  padding: 0 10px;
  border-radius: 0 10px 10px 0;
  border: none;
  cursor: pointer;
}

/* ********************** FILTERS ********************** */
#filters {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#filtersType {
  display: flex;
  margin-left: 20px;
}

.filtersType {
  display: flex;
  align-items: center;
}

.filtersType:hover {
  cursor: not-allowed;
}

.filtersType i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colorPrimary);
  width: 32px;
  height: 32px;
  background-color: var(--colorSecondary);
  border-radius: 50%;
  font-size: 0.9rem;
  z-index: 2;
  border: 4px solid var(--colorThird);
}

h2 {
  font-size: 0.9rem;
  margin: 0;
}

.filtersType h2 {
  position: relative;
  right: 20px;
  padding: 8px 15px 8px 25px;
  border: 4px solid var(--colorThird);
  border-radius: 0 20px 20px 0;
  white-space: nowrap;
  margin-right: 10px;
}

/* ******************** INFORMATION ************* */
#information {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

#information i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: var(--colorPrimary);
  font-size: 0.7rem;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid var(--colorThird);
}

/* ****************** MAIN *************************** */
main {
  display: flex;
  justify-content: space-between;
}

section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--colorThird);
  border-radius: 15px;
  padding: 30px 2% 30px 2%;
}

#accommodations {
  width: 65%;
}

.cardsInline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  height: 185px;
  width: 30%;
  max-width: 300px;
  border: 4px solid white;
  margin: 20px 0;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 1px 19px 0px #bcbcbc;
  color: black;
}

.cardPhoto {
  height: 60%;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.cardPhoto img {
  height: 100%;
  width: 100%;
}

.cardText {
  padding: 5px 5px;
  line-height: 23px;
  white-space: nowrap;
}
.stars {
  color: var(--colorPrimary);
  font-size: 0.6rem;
}

.colorThird {
  color: var(--colorThird);
}

#mostPopulars {
  width: 25%;
  align-items: center;
}

#mostPopularsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
  margin-bottom: 14px;
}
#mostPopulars .card {
  width: 100%;
  max-width: 350px;
  height: 125px;
  margin: 30px 0 10px 0;
}
#mostPopulars .card a {
  display: flex;
  height: 100%;
}

#mostPopulars .cardPhoto {
  height: 100%;
  width: 40%;
  border-radius: 15px 0 0 15px;
}

#mostPopulars .cardText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  white-space: normal;
  margin-left: 10px;
}

/* **************** ACTIVITY ********************** */
#activity {
  margin-top: 50px;
  padding: 0;
  background-color: white;
}

#activity h1 {
  margin-bottom: 30px;
}

.activityCardsContainer {
  display: flex;

  justify-content: space-between;
  height: 500px;
}

.oneCardContainer,
.twoCardsContainer {
  width: 23%;
}

#activity .card {
  width: 100%;
  border: none;
  margin: 0;
  display: flex;
  max-width: 400px;
}

.oneCardContainer .card {
  height: 100%;
}

.twoCardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .twoCardsContainer .card {
  height: 48%;
} */

#fortPomegues {
  height: 55%;
}
#notreDameDeLaGarde {
  height: 36%;
}
#parcLongchamp {
  height: 56%;
}

.oneCardContainer .cardPhoto {
  height: 90%;
}

.twoCardsContainer .cardPhoto {
  height: 80%;
}

.twoCardsContainer a {
  width: 100%;
}

#activity .cardText {
  padding: 0;
  display: flex;
  align-items: center;
  white-space: normal;
  margin: 0 15px;
}

.oneCardContainer .cardText {
  height: 10%;
}

.twoCardsContainer .cardText {
  height: 20%;
}

/* .twoCardsContainer {
  display: flex;
  flex-direction: column;
} */
