/* * {
  border: 1px solid red;
} */

/* Déclarations de variables */
:root {
  --colorPrimary: #0065fc;
  --colorSecondary: #deebff;
  --colorThird: #f2f2f2;
}

/* Ajout de la police de caractere "Raleway" */
@font-face {
  font-family: "Raleway-Regular";
  src: url("./Policy/static/Raleway-Regular.ttf");
}

/* Application de la police pour tout le body */
body {
  font-family: "Raleway-Regular", serif, sans-serif;
  margin: 0;
}

/* Container pour appliquer une marge à l'ensemble du document sauf au footer */
#principalContainer {
  margin: 0 50px;
}

a {
  text-decoration: none;
  color: black;
}

/* cover
Le contenu remplacé est dimensionné pour maintenir son ratio d'affichage tout en remplissant toute la boîte de contenu. La taille réelle est calculée pour couvrir la zone décrite par la hauteur et la largeur de l'élément. Si les ratios de l'objet et de la boîte ne correspondent pas, le contenu remplacé sera rogné. */
img {
  object-fit: cover;
}

/* ************************ HEADER ******************** */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 130px;
}

#logo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

#logo img {
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 99%;
  width: 125px;
  color: black;
}

.nav:hover {
  border-top: 2px solid var(--colorPrimary);
  position: relative;
  bottom: 1px;
  color: var(--colorPrimary);
}

.blue {
  color: var(--colorPrimary);
  font-weight: 900;
}

#inscription {
  display: flex;
  align-items: center;
  height: 100%;
}

h1 {
  margin: 0px 0 10px 0;
  font-size: 1.35rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: 900;
  margin: 0 0 26px 0;
}
h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 900;
}

#fontWeight {
  font-weight: 200;
}

p {
  margin: 0;
}

/* ********************** FORM ******************* */
form {
  display: flex;
  margin-top: 20px;
  flex-wrap: nowrap;
}
label {
  background: var(--colorThird);
  border-radius: 10px 0 0 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
label i {
  font-size: 20px;
}

input {
  height: 46px;
  width: 235px;
  position: relative;
  right: 4px;
  padding-left: 19px;
  font-weight: 900;
  border-top: 1px solid var(--colorThird);
  border-bottom: 1px solid var(--colorThird);
  border-right: 0;
  border-left: 0;
  font-size: 1.1rem;
}

input::placeholder {
  color: black;
  font-size: 1.1rem;
}

button {
  height: 50px;
  width: 95px;
  margin: 0;
  background: var(--colorPrimary);
  color: white;
  position: relative;
  right: 8px;
  font-weight: 900;
  padding: 0 10px;
  border-radius: 0 10px 10px 0;
  border: none;
  cursor: not-allowed;
}

#loupe {
  display: none;
}

/* ********************** FILTERS ********************** */
#filters {
  display: flex;
  align-items: center;
  margin-top: 33px;
}

#filters h2 {
  margin: 0;
}

#filtersType {
  display: flex;
  margin-left: 33px;
}

.filtersType {
  display: flex;
  align-items: center;
}
.filtersType:hover {
  cursor: not-allowed;
  color: red;
}

.filtersType i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colorPrimary);
  width: 50px;
  height: 50px;
  background-color: var(--colorSecondary);
  border-radius: 50%;
  font-size: 0.9rem;
  z-index: 2;
}

.filtersType h3 {
  position: relative;
  right: 20px;
  height: 44px;
  padding: 0px 15px 0px 30px;
  border: 3px solid var(--colorThird);
  border-radius: 0 25px 25px 0;
  white-space: nowrap;
  margin-right: 10px;

  display: flex;
  align-items: center;
}

/* ******************** INFORMATION ************* */
#information {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

#information i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: var(--colorPrimary);
  font-size: 0.7rem;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid var(--colorThird);
}

/* ****************** MAIN *************************** */
main {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--colorThird);
  border-radius: 15px;
  padding: 46px 40px;
}

#accommodations {
  width: 60%;
}

.cardsInline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  display: flex;
  height: 200px;
  width: 30%;
  border: 4px solid white;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 1px 19px 0px #bcbcbc;
  color: black;
  margin-bottom: 26px;
}

.card a {
  width: 100%;
}

.cardPhoto {
  width: 100%;
  height: 60%;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.cardPhoto img {
  height: 100%;
  width: 100%;
}

.cardText {
  padding: 5px 10px;
  line-height: 23px;
  white-space: nowrap;
  font-size: 0.9rem;
}
.stars {
  color: var(--colorPrimary);
  font-size: 0.6rem;
}

.colorThird {
  color: var(--colorThird);
}

#mostPopulars {
  width: 25%;

  /* align-items: center; */
}

#mostPopularsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* max-width: 350px; */
}

#mostPopulars .fa-chart-line {
  font-size: 1.4rem;
  margin-bottom: 26px;
}

#mostPopularsCardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
}

#mostPopulars .card {
  width: 100%;
  height: 129px;
}
#mostPopulars .card a {
  display: flex;
  height: 100%;
}

#mostPopulars .cardPhoto {
  height: 100%;
  width: 148px;
  border-radius: 15px 0 0 15px;
}

#mostPopulars .cardText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  white-space: normal;
  margin-left: 10px;
}

/* **************** ACTIVITY ********************** */
#activity {
  margin-top: 65px;
  padding: 0;
  background-color: white;
}

#activity h2 {
  margin-bottom: 30px;
}

.activityCardsContainer {
  display: flex;

  justify-content: space-between;
  height: 445px;
}

.oneCardContainer,
.twoCardsContainer {
  width: 23%;
}

#activity .card {
  width: 100%;
  border: none;
  margin: 0;
  display: flex;
}

.oneCardContainer .card {
  height: 100%;
}

.twoCardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.twoCardsContainer .card {
  height: 47%;
}

.oneCardContainer .cardPhoto {
  height: 390px;
}

.twoCardsContainer .cardPhoto {
  height: 155px;
}

.twoCardsContainer a {
  width: 100%;
}

#activity .cardText {
  padding: 0 20px;
  display: flex;
  align-items: center;
  white-space: normal;
  height: 50px;
}

/* .oneCardContainer .cardText {
  height: 55px;
}

.twoCardsContainer .cardText {
  height: 55px;
} */

/* **************** FOOTER *************** */
footer {
  margin-top: 62px;
  padding: 32px 393px 32px 50px;
  display: flex;
  justify-content: space-between;
  background-color: var(--colorThird);
}

.footerContent {
  display: flex;
  flex-direction: column;
  line-height: 37px;
}

/* ******************* RESPONSIVE ********************* */

/* ******************** < 1200px *********************** */

@media (max-width: 1200px) {
  #principalContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  header {
    width: 100%;
  }

  main {
    flex-direction: column;
    align-items: center;
  }

  #accommodations {
    width: 100%;

    margin-top: 20px;
    order: 2;
  }

  #accommodations h2,
  #accommodations .card {
    margin-bottom: 30px;
  }

  #mostPopulars {
    width: 100%;
  }

  #mostPopularsCardsContainer {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  #mostPopulars .card {
    width: 32%;
  }

  #activity {
    width: 100%;
    margin-top: 30px;
  }

  #activity .card {
    height: 200px;
  }

  #activity .twoCardsContainer .card {
    width: 49%;
  }

  .activityCardsContainer {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .oneCardContainer,
  .twoCardsContainer {
    margin-bottom: 20px;
    height: 200px;
    width: 100%;
  }

  .oneCardContainer a {
    width: 100%;
  }

  .oneCardContainer .card {
    min-width: 100%;
  }

  .twoCardsContainer .cardPhoto,
  .oneCardContainer .cardPhoto {
    height: 150px;
  }

  .twoCardsContainer .cardText,
  .oneCardContainer .cardText {
    height: 35px;
    justify-content: center;
  }

  .twoCardsContainer {
    flex-direction: row;
  }

  .twoCardsContainer .card {
    height: 100%;
  }

  footer {
    margin-top: 0;
    padding: 40px;
    justify-content: space-around;
  }
}

/* ********************** < 992px ************************* */
@media (max-width: 992px) {
  main {
    width: 100%;
  }

  #principalContainer {
    align-items: initial;
  }
  #filters {
    flex-direction: column;
    align-items: initial;
  }
  #filtersType {
    flex-wrap: wrap;
    margin: 0;
  }
  .filtersType {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #mostPopularsCardsContainer {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  #mostPopulars .card {
    width: 100%;
    max-width: 90%;
  }
}

/* ************************ < 768px *********************** */
@media (max-width: 768px) {
  #principalContainer {
    margin: 0;
  }

  header {
    /* width: 100%; */
    height: 114px;
    /* justify-content: space-between; */
    align-items: center;
    /* flex-wrap: nowrap; */
    /* flex-direction: row; */
    position: relative;
    margin-bottom: 61px;
  }

  #logo,
  #inscription {
    height: 104px;
    width: 50%;
    padding: 0 5%;
  }

  #logo {
    margin-bottom: 7px;
  }

  #inscription {
    justify-content: flex-end;
  }

  nav {
    order: 2;
    position: absolute;
    top: 60px;
    width: 100%;
  }

  .nav:hover {
    border-top: none;
    border-bottom: 1px solid var(--colorPrimary);
    /* Evite le décalage du text du à la bordure */
    top: 1px;
  }

  .blue:hover {
    /* Evite le décalage du text du à la bordure */
    border-bottom: 1px solid transparent;
  }

  .nav {
    width: 50%;
    height: 50px;
  }

  h1 {
    margin-bottom: 18px;
  }
  h1,
  #fontWeight,
  form,
  #filters,
  #information {
    margin-right: 21px;
    margin-left: 21px;
  }

  form {
    margin-top: 40px;
  }

  button {
    border-radius: 10px;
    width: 50px;
  }

  #rechercher {
    display: none;
  }
  #loupe {
    display: block;
    font-size: 18px;
  }

  #information {
    margin: 24px 21px 37px 21px;
  }
  main {
    margin: 0;
  }

  section {
    padding: 46px 0;
  }

  #mostPopulars {
    align-items: center;
  }

  #mostPopularsTitle {
    width: 90%;
  }

  .cardsInline {
    flex-direction: column;
  }

  #accommodations {
    background-color: white;
    margin-top: 0;
  }

  #accommodations h2 {
    margin-left: 20px;
  }
  #margin {
    margin: 20px 0 0 20px;
  }
  #accommodations .card,
  #mostPopulars .card {
    width: 90%;
    margin-bottom: 10px;
  }

  .oneCardContainer,
  .twoCardsContainer {
    width: 90%;
    height: 200px;
  }

  #activity h2 {
    margin-left: 20px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .footerContent {
    align-items: center;
  }
}

/* ********************* < 576px ********************* */
@media (max-width: 576px) {
  .twoCardsContainer {
    flex-direction: column;
    height: 100%;
    margin-bottom: 0;
  }
  #activity .twoCardsContainer .card {
    min-width: 100%;
    margin-bottom: 20px;
  }
  .twoCardsContainer .cardText,
  .oneCardContainer .cardText {
    justify-content: initial;
  }

  footer,
  .footerContent {
    align-items: initial;
    padding-top: 10px;
    margin-top: 15px;
  }
}

/* ********************* <350px ****************** */

@media (max-width: 350px) {
  h1,
  #fontWeight,
  form,
  #filters,
  #information {
    margin-right: 0;
    margin-left: 0;
  }

  input {
    width: 158px;
  }

  #mostPopulars .cardText {
    padding: 0;
  }
}
